<div id="course-banner">
  <h1><%= link_to @course.name, user_course_path(@course) %> <small> by <%= @course.instructor_name %></small></h1>
</div>
<div class="container" id="full_content">
  <h2>Forums</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Discussion</th>
        <th>Latest Activity</th>
      </tr>
    </thead>
    <tbody>
    <%= render @forums %>
    </tbody>
  </table>
</div>
