Dear <%= @user.email %>,

<p>You have successfully registered in <%= @course.name %></p>

<p>Course total: <%= number_to_currency @price %></p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account and view course', confirmation_url(@user, :confirmation_token => @user.confirmation_token) %></p>
