Dear <%= @user.email %>,

<p>You have successfully registered in <%= @course.name %></p>

<p>Course total: <%= number_to_currency @price %></p>

<p><%= link_to 'View your course', confirmation_url(@user, :confirmation_token => @user.confirmation_token) %></p>
