<div class="course_thumb">
  <div class="meta">
    <h3>
      <%= link_to course.name, user_course_path(course) %>
      <small>by <%= course.instructor_name %></small>
    </h3>
  </div>
  <%=image_tag course.image_url %>
</div>
