<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" data-src="holder.js/64x64">
  </a>
  <div class="media-body">
    <%= link_to 'Go to class', user_course_path(course), class: 'btn btn-success pull-right' %>
    <h4 class="media-heading">
      <%= link_to course.name, user_course_path(course) %>
      <small>by <%= course.instructor_name %></small>
    </h4>
    <%= course.description %>
  </div>
</div>
