<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" data-src="holder.js/64x64">
  </a>
  <div class="media-body">
    <span class="label label-info pull-right">Pre-Ordered</span>
    <h4 class="media-heading">
      <%= link_to preorder.name, course_path(preorder) %>
      <small>by <%= preorder.instructor_name %></small>
    </h4>
    <%= preorder.description %>
  </div>
</div>
