<div class="course_thumb">
  <div class="meta">
        <h3><%= link_to preorder.name, (user_signed_in? && preorder.has_student?(current_user)) ? user_course_path(preorder) : preorder %></h3>
        <span class="instructor">by <a href="#"><%= preorder.instructor_name %></a></span>
  </div>
  <%=image_tag preorder.image_url %>
</div>
