<div class="container" id="main_content">
  <div class="page-header">
    <h1>My Courses</h1>
  </div>

  <% unless @courses.blank? %>
    <%= render partial: 'course', collection: @courses %>
<% end %>

  <% unless @preorders.blank? %>
    <h2>Coming Soon</h2>
  <%= render partial: 'preorder', collection: @preorders %>
<% end %>
</div>
