<div class="page-header">
  <h1>Congratulations!</h1>
  <h4>You are preregistered to <%= @course.name %></h4>
  <h5>by <%= @course.instructor_name %></h5>
</div>

<p>You will be notified once the course is available</p>
