---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_1wOahHYcztUa73&description=new%40user.com
    headers:
      Authorization:
      - Bearer sk_test_Xnb4pUPWA0gayzQFgkjuRPfq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Sun, 02 Jun 2013 07:20:41 GMT
recorded_with: VCR 2.5.0
