---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_1wOFCaleI1DPbc&description=new%40user.com
    headers:
      Authorization:
      - Bearer sk_test_Xnb4pUPWA0gayzQFgkjuRPfq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1370156368,
          "id": "cus_1wOFyx42xjc0TE",
          "livemode": false,
          "description": "new@user.com",
          "active_card": {
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 1,
            "exp_year": 2015,
            "fingerprint": "R4xLb6xtEOSBtN4h",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "email": null,
          "delinquent": false,
          "subscription": null,
          "discount": null,
          "account_balance": 0
        }
  recorded_at: Sun, 02 Jun 2013 06:59:33 GMT
recorded_with: VCR 2.5.0
