---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&customer=cus_1qyHNtGP3pYjQQ&description=2%3A%20Course%202%3A%20How%20To%20Be%20Awesome
    headers:
      Authorization:
      - Bearer sk_test_Xnb4pUPWA0gayzQFgkjuRPfq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1spIkj9hqgUO6c",
          "object": "charge",
          "created": 1369334433,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "fee": 59,
          "fee_details": [
            {
              "amount": 59,
              "currency": "usd",
              "type": "stripe_fee",
              "description": "Stripe processing fees",
              "application": null,
              "amount_refunded": 0
            }
          ],
          "card": {
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2013,
            "fingerprint": "R4xLb6xtEOSBtN4h",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "failure_message": null,
          "amount_refunded": 0,
          "customer": "cus_1qyHNtGP3pYjQQ",
          "invoice": null,
          "description": "2: Course 2: How To Be Awesome",
          "dispute": null
        }
  recorded_at: Thu, 23 May 2013 18:40:34 GMT
recorded_with: VCR 2.4.0
