/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require normalize
 *= require main
 *= require font-awesome
 *= require_tree .
 */

body {
  position: relative;
}

.container{
    width:965px;
    margin:0 auto;
}

#main_content{
    margin-top:30px;
}

.grey_box{
    background:#F2F2F1;
    padding:20px;
    margin-bottom:15px;
}

.note{
    font-style: italic;
    color:#777;
}

.container:before,
.container:after {
  display: table;
  content: " ";
  clear: both;
}
