// Place all the styles related to the Course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixins';

body { background-color: #f0f0ef; }

// Course Hero Image
.hero{
  width:100%;
  height:365px;
  background:#000 url('hero.jpg') no-repeat center;
  background-size:cover;

  h2{
    color:#fff;
    text-transform: uppercase;
    font-size:46px;
    width:500px;
    font-weight:800;
    margin-top:55px;
    line-height:1.2;
    letter-spacing: 2px;
  }

  .instructor{

    .avatar{
      float:left;
      margin-right:10px;
      font-weight:300;
      width:53px;
      height:53px;
      border:3px solid #fff;
    }

    h3{
      margin:0;
      color:$highlight;
      font-size:17px;
      padding-top:7px;
      letter-spacing: 1px;
    }

    h4{
      margin:0;
      color:#fff;
      font-size:13px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

  }

}
// End Course Hero Image

.course_content{
  width:610px;
  padding:15px;
  background:white;
  float:left;

  .summary{
    padding:20px;
    margin-bottom:15px;
    background:#F2F2F1;

    h5{
      margin:0;
      font-size:20px;
      font-family: 'Lato', sans-serif;
      letter-spacing: 2px;
      font-weight:600;
      margin-bottom:15px;
    }

    .summary_text{
      font-family: 'Merriweather', serif;
      font-size:13px;
      line-height:1.8;
    }

  }

  #video{
    position: relative;

    .play{
      width:78px;
      height:78px;
      display:block;
      background:url('play.png') no-repeat center;
      position: absolute;
      left:50%;
      top:50%;
      margin-left:-39px;
      margin-top:-39px;
      opacity: .8;
      &:hover{opacity:1;}
    }

  }

  #chapters{
    margin-top:15px;
    
    .chapter{
      background:#F2F2F1;
      width:267px;
      padding:15px;
      margin-bottom:15px;
      float:left;

      img{
        float:left;
        margin-right:15px;
      }

      h4{
        margin:0;
        line-height:1;
        font-size:15px;

        a{
          color:$highlight;
          text-decoration: none;
          letter-spacing: 1px;
        }

      }

      p{
        margin:0;
        font-family: 'Merriweather', serif;
        font-size:12px;
        line-height:1.3;
        margin-top:10px;
      }

      &:nth-child(odd){
        margin-right:16px;
      }

    }

  }

  #course_details{
    background:#F2F2F1;
    margin-top:15px;
    clear:both;
    padding:20px;

    h4{
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size:15px;
      margin:0;
    }

    h5{
      text-transform: uppercase;
      font-weight:400;
      margin:0;
    }

    .hours, .projects, .documents{
      width:189px;
      text-align: center;
      float:left;
      margin-top:20px;

      h6{
        color:$highlight;
        font-size:50px;
        font-weight:800;
        margin:0;
        line-height:1;
      }
      span{
        text-transform: uppercase;
        font-size:12px;
        letter-spacing: 1px;
        font-weight:400;
      }

    }

    .projects{
      border-left:1px solid #D5D5D4;
      border-right:1px solid #D5D5D4;
    }

  }

  #enroll{
    background:#F2F2F1;
    padding:20px;

    h1{
      margin:0;
      margin-bottom:30px;
      font-weight:400;
    }

    section{
      margin-bottom:40px;
      position:relative;

      .section_header{
        width:100%;
        text-transform: uppercase;
        font-size:15px;
        font-weight:600;
        margin-bottom:20px;
        background:url('divider_line.png') repeat-x left center;
          span{
            background:#F2F2F1;
            padding-right:10px;
        }
      }

      #already_member{
        color:#999;
        float:right;
        text-decoration: none;
      }

      #cards{
        position:absolute;
        right:0px;
        top:162px;
      }

      #credit_card_number{
        float:left;
        margin-right:20px;
        width:380px;
        input{
          width:350px;
        }
      }

      #security_number{
        float:left;
        width:170px;
        position: relative;
        img{
          position:absolute;
          right:10px;
          top:43px;
        }
        input{
          width:140px;
        }
      }

      .button{
        margin-top:30px;
      }

      #email_field{
        width:540px;
      }

    }

    .note{
      clear:both;
      padding-top:20px;
      display: block;
    }

  }

}

.course_sidebar{
  float:right;
  width:280px;
  padding:15px;
  background:white;

  .buy_course{
    background:#F2F2F1;
    padding:20px;
    margin-bottom:15px;

    .price{
      font-size:45px;
      font-weight:600;
      margin:0;
      line-height:1.1;
    }

    p{
      margin:0;
      font-size:13px;
    }

    .buy_button{
      display:block;
      background:$highlight;
      border:3px solid #fff;
      color:#fff;
      text-align: center;
      padding:15px 0;
      text-decoration: none;
      margin-top:10px;
      text-transform: uppercase;
      font-size:14px;
      font-weight:600;
      letter-spacing: 1px;
      &:hover{background:$hover;}
    }

    .inscriptions{
      font-size:13px;
      display:block;  
      padding-left:25px;
      background:url('clock.png') no-repeat left 1px;
      line-height:1.2;
      margin-top:10px;
      span{
        font-weight:800;
        font-size:14px;
        letter-spacing: 1px;
      }
    }

  }

  .features{
    background:#F2F2F1;
    padding:20px;
    margin-bottom:15px;
  
    .feature{
      display:block;
      padding-left:50px;
      padding-bottom:30px;
      text-transform: uppercase;
      font-size:14px;
      font-weight: 400;
      line-height:1.2;

      &#accesible{background:url('access_anywhere_icon.png') no-repeat left top;}
      &#moneyback{background:url('moneyback_icon.png') no-repeat 7px 2px;}
      &#never_expires{background:url('access_icon.png') no-repeat left 1px;}
      &#interact{background:url('interact_icon.png') no-repeat left 1px;}
      &:last-child{padding-bottom:0;}
    }
  }

  #course_students{
    background:#F2F2F1;
    margin-bottom:15px;

    .count{
      padding:15px;
      display: block;
      font-size:11px;
      .highlight{letter-spacing:1px;}
    }

    .avatars{
      background:#E2E3E1;
      width:100%;
      padding:5px 0;

      img{
        float:left;
        margin-right:5px;
        &:last-child{margin-right:0;}
        &:first-child{margin-left:5px;}
      }

    }

    .rating{
      font-size:11px;
      float:left;
      padding:15px;
      width:165px; 
      position: relative;

      .rating_stars{
        position:absolute;
        right:0;
        top:13px;
      }

    }

    .reviews{
      float:left;
      color:$highlight;
      font-size:12px;
      padding:15px 0;
    }

  }

  #meet_your_hero{
    background:#F2F2F1;
    text-align: center;
    padding:20px 0;

    img{
      margin-bottom:15px;
    }

    p{
      text-transform: uppercase;
      font-size:18px;
      line-height:1.2;
      font-weight:800;
      padding:0 30px;
      margin:0;
      letter-spacing: 1px;
    }

  }

}


[class^="icon-"],
[class*=" icon-"] {
  background-image: url("glyphicons-halflings.png");
}
