// Place all the styles related to the Course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body { background-color: #f0f0ef; }

/** HEADER **/
#header { padding: 25px 0; background-color: #fff;
  h1#logo { float: left; display: inline-block; margin: 0; padding: 0; }
  .primary-nav { float: right;
    a { padding: 15px; color: #000; display: inline-block; text-transform: uppercase; font-weight: bold; font-size: 12px; }
    a:link, a:visited { text-decoration: none; }
    a:hover, a:active { text-decoration: underline; }
    a:last-child { padding-right: 0; }
  }
}

.container { width: 978px; margin: auto; }
.container:before,
.container:after {
  display: table;
  content: " ";
  clear: both;
}

/*COURSE*/
.hero { background-color: #000; color: #FFF; }
.course-content { margin-left: 175px; max-width: 600px; background-color: #fff; }
.sidebar { width: 145px; float: right;  background-color: #fff; }

[class^="icon-"],
[class*=" icon-"] {
  background-image: url("glyphicons-halflings.png");
}
