<footer class="clearfix">
  <div class="top">
    <div class="container">
      <%=image_tag('copyright.png', :class=>"copyright")%>
      <div id="footer_nav">
        <a href="#">Terms of Use</a>
        <a href="#">Private Policy</a>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
      </div>
    </div>
    <div class="container">
      <%=image_tag('credentials.png', :id=>"credentials")%>
    </div>
  </div>
</footer>