<div class="container" id="main_content">
  <div class="full_content">
    <div class="body_content">
      <div class="page-header">
        <h1>New Course</h1>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
