        <ul class="menu">
          <li class="">
            <%= link_to 'Courses', courses_path %>
          </li>
          <li class="">
            <%= link_to 'About', about_path %>
          </li>
        </ul>
