<div id="primary-nav">

  <div id="toggle_search"></div>

  <nav>
    <% unless devise_controller? %>
      <% if user_signed_in? %>
        <%= link_to 'My Courses', user_root_path %>
        <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
    <% end %>
  </nav>

</div>
